<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Sprint 2 - Routage @Url</display-name>

    <context-param>
        <param-name>packageToScan</param-name>
        <param-value>mg.itu.p4239.annotation.controller</param-value>
    </context-param>

    <listener>
        <listener-class>com.passerelle.listener.FrameworkListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.passerelle.controller.FrontControllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web.xml>